<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-3">
                <div class="p-toolbar-group-left flex flex-wrap">
                    <!-- <h5>Materia {{idMateria}}</h5> -->
                    <h5>{{nombre_materia  | titlecase}}</h5>
                </div>

                <div class="p-toolbar-group-right">
                    <p-menu #menu [model]="options" [popup]="true"></p-menu>
                    <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-ellipsis-v"></button>
                </div>
            </p-toolbar>


            <div class="card widget-tasks">
                <div class="card-header">
                    <div class="title">
                        <h5>Tareas</h5>
                    </div>
                    <div class=" task-info">
                        <span>Tienes</span><span class="highlighted"> {{totalActividades}}
                            tareas</span><span> </span>
                    </div>
                </div>
                <p-panel [toggleable]="true" *ngFor="let semana of actividades" header="Semana {{semana.week}}"
                    [collapsed]="true" class="line-height-3" styleClass="mb-1">

                    <div class="card widget-tasks">

                        <ul *ngFor="let actividad of semana.items" class="checkboxes">
                            <li class="checkbox-row border-1 border-300 mb-1">
                                <div class="grid ">
                                    <div class="col-6 m-0 checkbox"
                                        [ngClass]="{ 'line-through pointer-events-none': actividad.available ==0}"
                                        
                                        >
                                        <i
                                            class="{{actividad.type_id == 1?'pi pi-video mt-2':
                                                            actividad.type_id == 2?'pi pi-file-export mt-2':
                                                            actividad.type_id == 3?'pi pi-check-square mt-2':
                                                            actividad.type_id == 4?'pi pi-question-circle mt-2':''}}"></i>

                                        <p *ngIf="actividad.type_id == 1 || actividad.type_id == 2"><a
                                                href="{{actividad.type_id == 1?actividad.url_class:
                                                              actividad.type_id == 2?actividad.url_host+actividad.url_file:''}}" target="blank">{{actividad.name}}</a></p>

                                        <p *ngIf="actividad.type_id == 3 || actividad.type_id == 4"  ><a
                                                style="cursor: pointer;" 
                                                (click)="openMostrarCuestionario(actividad)">{{actividad.name}}</a></p>
                                    </div>

                                    <div class="col-6 checkbox-row-info ">
                                            <i *ngIf="actividad.type_id == 2 && actividad.resend == 1" (click)="openEnviarArchivo(actividad)" class="pi pi-upload" pTooltip="Subir archivo" tooltipPosition="top"></i>
                                        <!-- <i class="pi pi-calendar"></i> -->
                                            <i *ngIf=" actividad.resend == 1 || actividad.resend == null" class="pi pi-question-circle" (click)="verNota(actividad)" pTooltip="Ver nota" tooltipPosition="top"></i>
                        
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>

                </p-panel>
            </div>
        </div>
    </div>
</div>


<p-dialog [(visible)]="archivoDialog" [style]="{ width: '450px' }"
    header="Adjuntar archivo" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">

        <div class="formgrid grid">
            
            <div class="field col-12">
                <label for="email">Archivo</label>
                <input type="file" pInputText accept=".pdf,.docx,.pptx" [(ngModel)]="actividad.archivo" required autofocus
                    (change)="capturarFile($event)"
                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && !actividad.archivo }" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !actividad.archivo">El item es
                    requerido.</small>
            </div>

        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="archivoDialog = false"></button>
        <button pButton pRipple label="Subir" icon="pi pi-check" class="p-button-text"
            (click)="subirArchivo()"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="verNotaDialog" [style]="{ width: '450px' }"
    header="Nota" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">


        <div class="card widget-team">
            <ul>
                <li>
                    <div class="grid member">
                        <div class="col-7 team-box">
                            <div class="profile-image">
                                <img src="assets/images/user.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">{{user.user.name}}</h6>
                                <span class="team-member-role">Nota actividad</span>
                            </div>
                        </div>
                        <div class="col-5 icons">
                            <div >
                                {{nota.data}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text"
            (click)="verNotaDialog = false"></button>
        <!-- <button pButton pRipple label="Subir" icon="pi pi-check" class="p-button-text"
            (click)="subirArchivo()"></button> -->
    </ng-template>
</p-dialog>



<p-dialog [(visible)]="verNotaFinalDialog" [style]="{ width: '450px' }"
    header="Nota" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">


        <div class="card widget-team">
            <ul>
                <li>
                    <div class="grid member">
                        <div class="col-7 team-box">
                            <div class="profile-image">
                                <img src="assets/images/user.png" alt="mirage-layout" />
                            </div>
                            <div>
                                <h6 class="team-member">{{user.user.name}}</h6>
                                <span class="team-member-role">Nota de la materia</span>
                            </div>
                        </div>
                        <div class="col-5 icons">
                            <div >
                                {{notaFinal.finalScore}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cerrar" icon="pi pi-times" class="p-button-text"
            (click)="verNotaFinalDialog = false"></button>
        <!-- <button pButton pRipple label="Subir" icon="pi pi-check" class="p-button-text"
            (click)="subirArchivo()"></button> -->
    </ng-template>
</p-dialog>