<p-toolbar>
    <div class="p-toolbar-group-start">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="filter" />
        </span>
    </div>
    <div class="p-toolbar-group-end">

    </div>
</p-toolbar>

<div class="grid">
    <div *ngFor="let archivo of archivos | revisarArchivos:filter; let i = index" class="col-12 lg:col-6 md:col-6">
        <div class="card border-1 surface-border m-3">

            <div class="text-500 mb-3">Archivo # {{i+1}}</div>

            <h5>{{archivo.activity}}</h5>

            <div class="card widget-team">
                <ul>
                    <li>
                        <div class="grid member">
                            <div class="col-7 team-box">
                                <div class="profile-image">
                                    <img src="assets/images/user.png" alt="mirage-layout" />
                                </div>
                                <div>
                                    <h6 class="team-member">{{archivo.name}}</h6>
                                    <span class="team-member-role">{{archivo.activity}}</span>
                                </div>
                            </div>
                            <div class="col-5 icons">
                                <div class="icon icon-hastag">
                                    <a (click)="calificar()" ><span
                                        class="team-member-role"><i class="pi pi-bookmark" pTooltip="Calificar"
                                            tooltipPosition="top"></i></span></a>
                                </div>
                                <div class="icon icon-twitter">
                                    <a href="{{archivo.url_host+archivo.url_file}}" target="blank"><span
                                            class="team-member-role"><i class="pi pi-eye" pTooltip="Ver archivo"
                                                tooltipPosition="top"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <p-dialog [(visible)]="calificarDialog" [style]="{ width: '450px' }"
    header="Ingresa nota" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">

            <label for="name">Calificación</label>
            <input type="text" pInputText id="name" [(ngModel)]="nota" required autofocus
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && nota }" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && nota">El nombre debe tener mínimo 10 caracteres.</small>
        </div>

    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="calificarDialog = false"></button>
        <button pButton pRipple label="Enviar" icon="pi pi-check"
            class="p-button-text" (click)="GuardarNotas()"></button>
    </ng-template>
</p-dialog>