<body class="landing-body">

    <div class="landing-nav-menu">
        <div class="logo">
            <a href="#">
                <img src="../../../assets/images/edu.png" alt="mirage-layout" />
                <span class="app-name">D.A.I.J</span>
            </a>
        </div>
        <div class="nav-menu-wrapper">
            <ul class="nav-menu" id="landing-menu">
                <li class="active-link">
                    <a (click)="hideMenu()" style="cursor: pointer;" (click)="inicio()">Inicio</a>
                </li>
                <li>
                    <a (click)="hideMenu()" style="cursor: pointer;" (click)="login()">Ingresar</a>
                </li>
                <li>
                    <a (click)="hideMenu()" href="https://wa.link/9zvdgx" target="_blank">Inscribirme</a>
                </li>
            </ul>
        </div>

        <div class="menu-button">
            <a (click)="validClass()" class="landing-menu-button" id="landing-menu-button">
                <div class="landing-menu-button-icon"></div>
            </a>
        </div>
    </div>



    <div id="home" class="landing-header-wrapper">
        <div class="w-100">
            <img style="width: 100%;" src="../../../assets/images/web3.jpg" alt="mirage-layout" />
        </div>
        <div class="landing-header-content">
            <div class="features-img">
                <img width="300" src="../../../assets/images/edu.png" alt="mirage-layout" />
            </div>

            <div class="video-button">

            </div>
        </div>

    </div>

    <div id="meet-mirage" class="section p-0 ">
        <div class="section-title">
            <h1 class="mt-8">Instituto bíblico</h1>
            <p>Dios de Abraham, de Isaac y de Jacob</p>
        </div>

        <div class="col-12">
            <div class="">
                <div class="col-12">
                    <div class=" widget-timeline">

                        <div class="timeline-row">
                            <div class="grid grid-nogutter">
                                <div class="col-1">
                                    <div class="timeline-icon comment-icon">
                                        <i class="pi pi-chart-line"></i>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="grid grid-nogutter">
                                        <div class="col-12 timeline-content">
                                            <h6>Misión</h6>
                                            <span>El instituto Bíblico Eclesiástico (Dios de Abraham, de Isaac y de
                                                Jacob)”DAIJ”. Su principal Misión, es formar un liderazgo con
                                                propósitos misionero y de servir al señor dentro y fuera de la
                                                iglesia local, para la extensión del evangelio del reino de Dios en
                                                todo el mundo, empezando desde lo local, luego lo regional, lo
                                                departamental, nacional e internacional.</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="grid grid-nogutter">
                                <div class="col-1">
                                    <div class="timeline-icon chart-icon">
                                        <i class="pi pi-eye"></i>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="grid grid-nogutter">
                                        <div class="col-12 timeline-content">
                                            <h6>Visión</h6>
                                            <span>El instituto Bíblico Eclesiástico (Dios de Abraham, de Isaac y de
                                                Jacob)”DAIJ”. Tiene como visión, cumplir con los preceptos de
                                                Educación cristiana dentro del proceso formativo con un enfoque
                                                pedagógico, constructivista en el marco, de preparación, de
                                                formación, de capacitación, de equipamiento, y empoderamiento de
                                                líderes que promuevan el ensanchamiento del evangelio en harás de
                                                dar cumplimiento a la gran comisión.</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-row">
                            <div class="grid grid-nogutter">
                                <div class="col-1">
                                    <div class="timeline-icon comment-icon">
                                        <i class="pi pi-chart-bar"></i>
                                    </div>
                                </div>
                                <div class="col-11">
                                    <div class="grid grid-nogutter">
                                        <div class="col-12 timeline-content">
                                            <h6>Objetivos</h6>
                                            <span>General</span><br><br>
                                            <span>El instituto Bíblico Eclesiástico (Dios de Abraham, de Isaac y de
                                                Jacob)”DAIJ”. Fomenta espacios de capacitación y formación continua
                                                en los estudiantes propiciando los recursos pedagógicos en el
                                                conocimiento de la Sagrada Biblia, en Teología, la practica
                                                ministerial y de servicio a la comunidad.</span><br><br><br>
                                            <span>Específicos</span><br>
                                            <ul>
                                                <li>Formar líderes, competentes y que estén aptos para toda buena obra.
                                                </li>

                                                <li>Proporcionar una sólida formación en el liderazgo con
                                                    fundamentos Bíblicos y la Guía del Espíritu Santo.</li>

                                                <li>Fomentar en el proceso de aprendizaje los principios y valores
                                                    cristianos en armonía con interpretación de las normas legales y
                                                    dentro del ordenamiento jurídico.</li>

                                                <li>Equipar a los estudiantes en el que puedan asumir el llamado con
                                                    responsabilidad en el servicio al Señor de la mies.</li>

                                                <li>Que los estudiantes, salgan con una conciencia de sana crítica y
                                                    solidaria reflejando un espíritu conciliador.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="pricing" class="section">
        <div class="section-title">
            <h1>Equipo</h1>
            <p>Nuestros profesores</p>
        </div>
        <div class="pricing-cards">

            <div class="pricing-card free">
                <div class="pricing-card-title">
                    <h2>Janer Dario Machado</h2>
                    <p>Profesor</p>
                </div>
                <img width="200" src="../../../assets/images/foto2.jpg" alt="">
            </div>

            <div class="pricing-card premium">
                <div class="pricing-card-title">
                    <h2>Wilfredo Blandón</h2>
                    <p>Profesor</p>
                </div>
                <img width="200" src="../../../assets/images/foto1.jpg" alt="">


            </div>

        </div>
    </div>



    <div class="footer">
        <div class="logo-text">
            <img src="../../../assets/images/edu.png" alt="mirage-layout" />
            <div class="text">
                <h1>D.A.I.J</h1>
                <span>Instituto</span>
            </div>
        </div>
        <div class="icons">
            <div class="icon icon-hastag">
                <a href="https://wa.link/9zvdgx" target="_blank">
                    <img src="../../../assets/layout/images/landing/whatsapp.png" width="18">
                </a>
            </div>
            <div class="icon icon-twitter">
                <a href="https://www.facebook.com/wilfredo.blandontorres.7" target="_blank">
                    <img src="../../../assets/layout/images/landing/facebook.png" width="18" height="18">
                </a>
            </div>
            <div class="icon icon-prime">
                <a href="https://youtube.com/channel/UCVhPCqmH32C-weSnLZ2T8PA" target="_blank">
                    <img src="../../../assets/layout/images/landing/youtube.png" width="18">
                </a>
            </div>
        </div>
        <div (click)="validUrl()" class="landing-mask" id="landing-mask"></div>
    </div>
</body>